#app {
  & > .field {
    justify-content: space-between;
    display: flex;
    & > .field {
      min-width: 435px;
      max-width: 40%;
      width: 100%;
    }
  }
}
.card {
  margin-bottom: 20px;
  min-width: 200px;
  max-width: 30%;
  height: fit-content;
}

.notes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
